*{
   margin: 0;
   padding: 0;
   box-sizing: bor;
}

body{
    min-height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
}

.navbar_item{
   display: inline-block;
   padding: 10px;
}

.logo{
    width: 100%;
    height: 40px
}

/*clases generales*/
.text-center{
   text-align: center;
}
/*header*/
nav{
   background-color: grey;   
}

footer{
   background-color: grey;
   position: absolute;
   bottom: 0;
   width: 100%;
   padding: 10px;
}

img{
   height: vh;
   width: auto;
   object-fit: cover;
}

