/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.logo {
  width: 35px;
  height: 35px;
}

/* Estilos de navegación */
.navbar {
  background-color: #333;
  display: flex;
  align-items: center;
}

.navbar-brand {
  margin-right: 15px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: #fff;
  padding: 10px;
  text-decoration: none;
}

/* Estilos de contenido principal */
h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.lead {
  font-size: 18px;
  margin-bottom: 20px;
}

.btn-primary {
  margin-top: 20px;
}

/* Estilos de las tarjetas */
.card {
  margin-bottom: 20px;
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
}

/* Estilos del footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.social-icons {
  text-align: center;
}

.social-icon {
  color: #fff;
  margin: 0 5px;
  font-size: 24px;
}

/* Estilos responsive */
@media (max-width: 767px) {
  .navbar-nav {
    flex-direction: column;
    background-color: #333;
    text-align: center;
  }

  .navbar-nav .nav-item {
    margin: 5px 0;
  }

  .navbar-toggler {
    order: -1;
  }

  .navbar-toggler-icon {
    background-color: #fff;
  }
}